[MASTER]
#init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
ignore-patterns=test_.*

[MESSAGES CONTROL]

# Pointless whinging
#   W0212 = Accessing protected attribute of client class
#   W0613 = Unused argument
#   C0301 = Line too long
#   R0914 = Too many local variables
#   C0111 = Missing docstring
#   W1203 = Use lazy % formatting in logging functions

# Disable the message(s) with the given id(s).
disable=W0212,W0613,C0301,R0914,W1203

[FORMAT]
max-line-length=148
